@import "src/consts/colors";
@import "src/consts/sizes";

.wrapper {
  height: calc(100% - $heightHeader);
  background-color: $backgroundColorMain;
  display: grid;
  place-items: center;
  padding-bottom: $heightHeader;
}