@import "src/consts/colors";

.form {
  //width: clamp(300px,100%,736px);
  width: 736px;
  height: 568px;
  background-color: $backgroundColorWhite;
  padding: 32px 24px 0 24px;
  overflow-y: auto;

  .title {
    width: 688px;
    height: 70px;

    #titleForm {
      font-size: 14px;
      line-height: 26.4px;
    }

    input[type='text'] {
      width: 688px;
      height: 46px;
      font-size: 14px;
      outline: none;
      color: $textColorDisable;
      border: 1px solid $borderInput;
      border-radius: 3px;
      margin-top: 3px;
      padding: 13px 0 12px 16px;
    }

    input[type='text']::placeholder {
      line-height: 26.4px;
    }
    input[type='text']:not(:placeholder-shown){
      border-color: $borderColorActiveInput;
    }
  }

}