$backgroundColorMain: #F8F8F8;
$backgroundColorWhite: #FFFFFF;

$textColor: #2B2829;
$textColorDisable: #B9B9B9;
$textDescription: #777777;

$buttonHover: #F8F8F8;
$borderColorForButton: #F50634;

$borderInput: #E5E5E5;
$borderColorActiveInput:#FAE29F;