$backgroundColorMain: #F8F8F8;
$backgroundColorWhite: #FFFFFF;
$backgroundColorButton: #F50634;
$backgroundColorNoActiveButtonHover:#DFDFDF;

$textColor: #2B2829;
$textColorDisable: #B9B9B9;
$textColorDescription: #777777;
$textColorDescriptionItemList: #2B292A;
$textColorBase:#FFFFFF;
$textColorSpansButton: #C31335;

$buttonHover: #F8F8F8;
$borderColorForButton: #F50634;

$borderInput: #E5E5E5;
$borderColorActiveInput:#FAE29F;

$borderMainColor: #DFDFDF;
