@import "src/consts/colors";

body {
  margin: 0;
}

* {
  font-family: Verdana;
  color: $textColor;
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6,ul {
  margin: 0;
  padding: 0;
}
hr{
  margin: 0;
  border: none;
}