@import "src/consts/colors";
.descAdd{
  margin-top: 48px;
  display: flex;
  align-items: center;

  img{
    margin-right: 32px;
  }

  p{
    font-size: 14px;
    width: 315px;
    color: $textColorDescription;
    line-height: 19.6px;
  }
}